body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: yellowgreen;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

select option{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    border-radius: 10px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    border-radius: 10px;
}

button {
    background-color: black;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: black;
}